.container {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 8px;
    margin-bottom: 10px;
    width: 200px;
}

button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination button {
    margin: 0 5px;
}

.nav-link::after {
    content: attr(data-bs-original-title);
    position: absolute;
    bottom: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    pointer-events: none;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 4px;
    transition: opacity 0.3s ease;
  }
  
  .nav-link:hover::after {
    opacity: 1;
  }
  