<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kasir POS</title>
    <link rel="stylesheet" href="../../assets/css/Kasir.css" />
    <link
      rel="stylesheet"
      href="../../assets/bootstrap/css/bootstrap.min.css" />
  </head>
  <body>
    <div class="container-fluid mt-4">
      <header>
        <div class="row fw-bold col-md-4 align-items-start font-monospace">
          <p class="col-md-6">Tanggal & Time: <span id="datetime"></span></p>
          <p class="col-md-6">User: Kasir 1</p>
        </div>
        <h1 class="fw-bold me-5">KASIR</h1>
        <button class="btn btn-danger">Logout</button>
      </header>
      <hr />
      <div class="row col-md-2 ms-2 border">
        <div class="input-group">
          <label class="input-group-text" for="partner">Mitra</label>
          <select class="form-select" id="partner">
            <option value="partner1">Mitra 1</option>
            <option value="partner2">Mitra 2</option>
            <option value="partner3">Mitra 3</option>
          </select>
        </div>
      </div>
      <main>
        <section class="order col-sm-8 order-2">
          <h2>Order List</h2>
          <table id="order-table">
            <thead>
              <tr>
                <th>Kode Barang</th>
                <th>Nama Barang</th>
                <th>Qty</th>
                <th>Harga</th>
                <th>Subtotal</th>
                <th>Aksi</th>
              </tr>
            </thead>
            <tbody>
              <!-- Data rows will be dynamically generated here -->
            </tbody>
          </table>
        </section>
        <section class="col-sm-4">
          <h2>Add Product</h2>
          <div class="input-group mb-3">
            <span class="input-group-text" for="barcode">Barcode</span>
            <input class="form-control" type="number" id="barcode" />
          </div>
          <div class="input-group">
            <span class="input-group-text" for="product-name">Name</span>
            <input
              class="form-control"
              type="text"
              id="product-name"
              disabled />
          </div>
          <div class="input-group">
            <span class="input-group-text" for="product-name">Price</span>
            <input class="form-control" type="text" id="price" disabled />
          </div>

          <div class="input-group">
            <span class="input-group-text" for="quantity">Quantity:</span>
            <input
              class="form-control"
              type="number"
              id="quantity"
              min="1"
              value="1" />
          </div>
          <button class="add-btn">Add</button>
        </section>
      </main>
      <footer>
        <div class="total">
          <label class="fw-bold">Total:</label>
          <span class="fw-bold" id="total-price">Rp 0.00</span>
        </div>
        <button
          type="button"
          class="btn btn-success"
          data-bs-toggle="modal"
          data-bs-target="#modalPay">
          Pay
        </button>
      </footer>
    </div>

    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New message</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label"
                  >Recipient:</label
                >
                <input type="text" class="form-control" id="recipient-name" />
              </div>
              <div class="mb-3">
                <label for="message-text" class="col-form-label"
                  >Message:</label
                >
                <textarea class="form-control" id="message-text"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal">
              Close
            </button>
            <button type="button" class="btn btn-primary">Send message</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="modalPay">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="exampleModalLabel">Payment</h2>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="input-group">
                <span class="input-group-text" for="total-item"
                  >Total Item:</span
                >
                <input
                  type="number"
                  class="form-control"
                  id="total-item"
                  disabled />
              </div>

              <div class="input-group">
                <span class="input-group-text" for="grand-total"
                  >Grand Total:</span
                >
                <input
                  type="number"
                  class="form-control"
                  id="grand-total"
                  disabled />
              </div>

              <div class="input-group">
                <span class="input-group-text" for="amount-paid"
                  >Jumlah Bayar:</span
                >
                <input
                  type="number"
                  class="form-control"
                  id="amount-paid"
                  min="1"
                  value="1" />
              </div>
              <div class="input-group">
                <span class="input-group-text" for="change">Kembalian:</span>
                <input type="text" class="form-control" id="change" disabled />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal">
              Close
            </button>
            <button type="button" class="btn btn-primary">
              Bayar dan Cetak Struk
            </button>
          </div>
        </div>
      </div>
    </div>

    <script src="../../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../assets/js/kasir.js"></script>
    <script>
      // Script untuk menampilkan tanggal & waktu secara real-time
      var dt = new Date();
      document.getElementById("datetime").innerHTML = dt.toLocaleString();
    </script>
  </body>
</html>
