<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kasir POS</title>
    <link rel="stylesheet" href="../../assets/css/Kasir.css" />
    <link
      rel="stylesheet"
      href="../../assets/bootstrap/css/bootstrap.min.css" />
    <link
      href="../../node_modules/bootstrap-icons/font/bootstrap-icons.min.css"
      rel="stylesheet" />
  </head>
  <body>
    <div class="container-fluid mt-4">
      <header>
        <div class="row fw-bold col-md-5 align-items-start font-monospace">
          <p class="col-md-7">Time: <span id="datetime"></span></p>
          <p class="col-md-5">User: Kasir 1</p>
        </div>
        <h1 class="fw-bold me-5">KASIR</h1>
        <button class="btn btn-danger" onclick="handleLogout()">Logout</button>
      </header>
      <hr />
      <div id="alertContainer"></div>
      <main>
        <section class="order col-sm-8 order-2">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h2 class="mb-0">Order List</h2>
            <div class="input-group me-2" style="width: 150px">
              <select class="form-select" id="selectName">
                <option>Pilih Nama</option>
              </select>
            </div>
            <button
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#modalInputName">
              Simpan Sementara
            </button>
          </div>

          <div class="modal fade" id="modalInputName">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Input Nama</h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="mb-3">
                    <label for="inputName" class="form-label">Nama:</label>
                    <input type="text" class="form-control" id="inputName" />
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal">
                    Tutup
                  </button>
                  <button
                    type="submit"
                    class="btn btn-primary"
                    id="simpanSementara">
                    Simpan
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="scrollable overflow-auto">
            <table id="order-table">
              <thead>
                <tr>
                  <th>Kode Barang</th>
                  <th>Nama Barang</th>
                  <th>Qty</th>
                  <th>Harga</th>
                  <th>Subtotal</th>
                  <th>Aksi</th>
                </tr>
              </thead>
              <tbody>
                <tr class="d-none" id="sample-row">
                  <td class="barcode"></td>
                  <td class="name"></td>
                  <td class="qty">
                    <input type="number" onchange="handleQtyChange(event)" />
                  </td>
                  <td class="price"></td>
                  <td class="subTotal"></td>
                  <td class="action">
                    <button
                      type="button"
                      class="btn btn-danger"
                      data-delete-id=""
                      onclick="handleDelete(this)"
                      data-bs-toggle="modal"
                      data-bs-target="#deleteModal">
                      <i class="bi bi-trash3-fill"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>
        <section class="col-sm-4">
          <h2>Add Product</h2>
          <form id="formOrder">
            <div class="input-group mb-3">
              <span class="input-group-text" for="barcode">Barcode</span>
              <input class="form-control" type="number" id="barcode" />
            </div>
            <input type="hidden" id="profitSharing" />
            <input type="hidden" id="profitSharedType" />
            <input type="hidden" id="productId" />
            <div class="input-group">
              <span class="input-group-text" for="product-name">Name</span>
              <input class="form-control" type="text" id="name" disabled />
            </div>
            <div class="input-group">
              <span class="input-group-text" for="product-name">Price</span>
              <input class="form-control" type="text" id="price" disabled />
            </div>

            <div class="input-group">
              <span class="input-group-text" for="quantity">Quantity:</span>
              <input
                class="form-control"
                type="number"
                id="qty"
                min="1"
                value="1" />
            </div>
            <button type="submit" class="add-btn">Add</button>
          </form>
        </section>
      </main>
      <hr />
      <footer class="container-fluid row">
        <div class="col-md-3">
          <div class="input-group">
            <label class="input-group-text" for="selectTour">Tour</label>
            <select class="form-select col-md-1" id="selectTour"></select>
          </div>
        </div>
        <div class="total col-md-3 offset-md-4">
          <label class="fw-bold">Total:</label>
          <span class="fw-bold" id="total-price">Rp 0.00</span>
        </div>
        <div class="col-md-auto">
          <button type="button" id="pay" class="btn btn-success col-md-auto">
            Pay
          </button>
        </div>
      </footer>
    </div>

    <div class="modal fade" id="modalPay">
      <div class="modal-dialog">
        <div class="modal-content">
          <form id="formPay">
            <div class="modal-header">
              <h2 class="modal-title" id="exampleModalLabel">Payment</h2>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div id="alertPay"></div>
              <div class="input-group">
                <span class="input-group-text" for="total-item"
                  >Total Item:</span
                >
                <input
                  type="number"
                  class="form-control"
                  id="total-item"
                  disabled />
              </div>

              <div class="input-group">
                <span class="input-group-text" for="grand-total"
                  >Grand Total:</span
                >
                <input
                  type="number"
                  class="form-control"
                  id="grand-total"
                  disabled />
              </div>

              <div class="input-group">
                <span class="input-group-text" for="amount-paid"
                  >Jumlah Bayar:</span
                >
                <input
                  type="number"
                  class="form-control"
                  id="amount-paid"
                  min="1"
                  value="1" />
              </div>
              <div class="input-group">
                <span class="input-group-text" for="change">Kembalian:</span>
                <input type="text" class="form-control" id="change" disabled />
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal">
                Close
              </button>
              <button type="submit" class="btn btn-primary">
                Bayar dan Cetak Struk
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div
      class="modal fade"
      id="deleteModal"
      tabindex="-1"
      aria-labelledby="deleteModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Are you sure you want to delete this item?
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal">
              Close
            </button>
            <button
              type="button"
              class="btn btn-danger"
              data-bs-dismiss="modal"
              id="confirmDelete">
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>

    <script src="../../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../assets/js/Kasir.js"></script>
    <script src="../../assets/js/main.js"></script>
    <script>
      var dt = new Date();
      document.getElementById("datetime").innerHTML = dt.toLocaleString();
    </script>
  </body>
</html>
